@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700&subset=latin-ext');

html{
  cursor: url(./img/rond.svg) 12 0,auto;
  -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  line-height: 1.2;
  color: #1452bb;
  margin: 40px auto 40px auto;
  width: 100%;
  cursor: url(./img/rond.svg) 12 0,auto;
}



header {
  background-image: url(./img/fond.svg);
  
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: url(./img/souris.svg) 0 0,auto;
  
}

::selection { background: transparent; color:inherit; }
::-moz-selection { background: transparent; color:inherit; }

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo {
  text-align: center;
 position: absolute;
  padding: 2% 0 0 0;
  top: 0%;
  width: 100%;
  height: 70%;
}

.logo img {
  
  animation: rotate 0.5s 1 linear;
  -moz-animation: rotate 0.5s 1 linear;
  -webkit-animation: rotate 0.5s 1 linear;
}



.intro {
  color: #1452bb;
  text-align: center;
  line-height: 1.4;
  font-size: 14px;
  position: absolute;
  top: 42%;
  width: 70%;
  margin: 0 15% 0 15%;
  animation: intro 1.5s 1 linear;
  
}

.text-base {
  opacity: 1;
  
}

.text-hover {
  display: none;
  color: #ffce00;
  
}

.jeuxtexte:hover span.text-base {
  opacity: 0;
}

.jeuxtexte:hover span.text-hover {
  display: inherit;
  position: relative;
  
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes intro_2 {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes intro_3 {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  90% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(15px);
    animation-fill-mode: backwards;
  }
}

.fleche {
  text-align: center;
  position: absolute;
  top: 90%;
  width: 100%;
  height:130%;
}

.fleche img{
   animation: intro_3 3.5s 1 linear;
}

.nav1 {
  position: fixed;
  top: 50%;
  left: 0px;
  font-size: 22px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  animation: intro_2 2.3s 1 linear;
  z-index: 2;
  cursor: url(./img/rond_4.svg) 9 2,auto;
}

.nav2 {
  position: fixed;
  top: 50%;
  right: 0px;
  font-size: 22px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  animation: intro_2 2.5s 1 linear;
  z-index: 2;
  cursor: url(./img/rond_4.svg) 9 2,auto;
}

.nav1:after {
    border-bottom: 4px solid #ffce00;
    content: '';
    display: block;
    margin: auto auto auto 0;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.nav1:hover:after {
  border-bottom: 4px solid #ffce00;
  width: 100%;
}

.nav2:after {
    border-bottom: 4px solid #ffce00;
    content: '';
    display: block;
    margin: auto auto auto 0;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.nav2:hover:after {
  border-bottom: 4px solid #ffce00;
  width: 100%;
}

section {
  width: 100%;
  height: 100%;
  transition: transform 0.4s;
  will-change: transform;
  cursor: url(./img/rond.svg) 12 0,auto;
  display: block;
  
}

.footer{
  height: 100px;
}

.placement {
  margin-top: 80%;
  position: relative;
  cursor: url(./img/rond.svg) 12 0,auto;
}

.test1 {
  height: auto;
  width: 45%;
  margin: 0 0 300px 28%;
  box-shadow: 0px 8px 15px 0px #eaeaea;
  border-radius:10px;
  cursor: url(./img/rond_2.svg) 9 2,auto;
}

.testshow {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 45%;
  margin: 0 0 0 28%;
  box-shadow: 0px 8px 15px 0px #eaeaea;
  border-radius:10px;
  opacity: 0;
  cursor: url(./img/rond_2.svg) 9 2,auto;
}

.testshow:hover{
  transition: 0.5s;
  opacity: 1;
  cursor: url(./img/rond_2.svg) 9 2,auto;
}

.placement2 {
  position: relative;
}

.test2 {
  height: auto;
  width: 45%;
  margin: 0 0 300px 28%;
  box-shadow: 0px 8px 15px 0px #eaeaea;
  border-radius:10px;
  cursor: url(../img/rond_2.svg) 9 2,auto;
}

.test3 {
  height: auto;
  width: 45%;
  margin: 0 0 300px 28%;
  box-shadow: 0px 8px 15px 0px #eaeaea;
  border-radius:10px;
  cursor: url(./img/rond_2.svg) 9 2,auto;
}

.test4 {
  height: auto;
  width: 45%;
  margin: 0 0 300px 28%;
  box-shadow: 0px 8px 15px 0px #eaeaea;
  border-radius:10px;
  cursor: url(../img/rond_2.svg) 9 2,auto;
}

.test5 {
  height: auto;
  width: 45%;
  margin: 0 0 300px 28%;
  box-shadow: 0px 8px 15px 0px #eaeaea;
  border-radius:10px;
  cursor: url(./img/rond_2.svg) 9 2,auto;
}

.test6 {
  height: auto;
  width: 45%;
  margin: 0 0 300px 28%;
  box-shadow: 0px 8px 15px 0px #eaeaea;
  border-radius:10px;
  cursor: url(./img/rond_2.svg) 9 2,auto;
}

.test7 {
  height: auto;
  width: 45%;
  margin: 0 0 300px 28%;
  box-shadow: 0px 8px 15px 0px #eaeaea;
  border-radius:10px;
  cursor: url(../img/rond_2.svg) 9 2,auto;
}

.test8 {
  height: auto;
  width: 45%;
  margin: 0 0 300px 28%;
  box-shadow: 0px 8px 15px 0px #eaeaea;
  border-radius:10px;
  cursor: url(./img/rond_2.svg) 9 2,auto;
}

/* Texte dÃ©filant */

.hireme {
  margin-left: -5000px;
}

.hireme a {
  text-decoration: none;
  color: #000000;
  cursor: url(./img/rond_2.svg) 9 2,auto;
}

.hireme p {
  width: -400%;
  font-size: 45px;
  font-style: italic;
  font-weight: 900;
  animation: linear marqueelike 25s infinite;
  -webkit-animation: linear marqueelike 25s infinite;
  -moz-animation: linear marqueelike 25s infinite;
  text-align: left;
  padding: 5px 5px 5px 5px;
  overflow: hidden;
  white-space: nowrap;
}

.hireme a:hover {
  color: #ffce00;
  cursor: url(./img/rond_2.svg) 9 2,auto;
}

@-webkit-keyframes marqueelike {
  100%,
  0% {
    margin-left: 0;
  }
  0% {
    margin-left: -100%;
  }
}

@keyframes marqueelike {
  100%,
  0% {
    margin-left: 0;
  }
  0% {
    margin-left: -100%;
  }
}

@-moz-keyframes marqueelike {
  100%,
  0% {
    margin-left: 0;
  }
  0% {
    margin-left: -100%;
  }
}

.liste {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  text-align: center;
  list-style-type: none;
}

.liste li {
  display: inline-block;
  padding: 0 2% 0 0;
}

.liste li a {
  text-decoration: none;
  color: #000000;
  padding: 5px 0 5px 0;
  display: block;
  cursor: none;
}

.liste li a:after {
    border-bottom: 4px solid #ffce00;
    content: '';
    display: inline-block;
    margin: auto auto auto 0;
    height: 5px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  cursor: none;
}

.liste li a:hover:after {
  border-bottom: 4px solid #ffce00;
  width: 100%;
  cursor: none;
}

.copyright{
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  text-align: center;
  margin-top: 40px;
  color: #000000;
}








@media only screen and (max-width: 2559px) {
  
  
    .intro {
    font-size: 22px;
    top: 41%;
  }
  
  .fleche img{
    height: 5%;
     width: 5%;
  }
  
    .logo img{
    height: 18%;
     width: 18%;
  }
  
  .hireme p {
    font-size: 55px;
  }
  
  .placement {
  margin-top: 1800px;
}
  
  .test1 {
  margin: 0 0 500px 28%;
  }
  
    .test2 {
  margin: 0 0 500px 28%;
  }
  
    .test3 {
  margin: 0 0 500px 28%;
  }
  
    .test4 {
  margin: 0 0 500px 28%;
  }
  
    .test5 {
  margin: 0 0 500px 28%;
  }
  
    .test6 {
  margin: 0 0 500px 28%;
  }
  
    .test7 {
  margin: 0 0 500px 28%;
  }
  
  .test8 {
  margin: 0 0 0 28%;
  }
  

  .hireme {
    margin-top: 380px;
  }

  .liste li img{
    height: 30px;
  }
  
  .liste li a:after {
    border-bottom: 8px solid #ffce00;
}

.liste li a:hover:after {
  border-bottom: 8px solid #ffce00;
}
  
  .nav1 {
    font-size: 30px;
  }
  .nav2 {
    font-size: 30px;
  }
  
  .nav1:after {
    border-bottom: 8px solid #ffce00;
}

.nav1:hover:after {
  border-bottom: 8px solid #ffce00;
}

.nav2:after {
    border-bottom: 8px solid #ffce00;
}

.nav2:hover:after {
  border-bottom: 8px solid #ffce00;
}
  
  .copyright{
    font-size: 20px;
  }
  }

@media only screen and (max-width: 1919px) {
  
  
  .intro {
    font-size: 20px;
    top: 38%;
  }
  
    .fleche img{
    height: 5%;
     width: 5%;
  }
  
      .logo img{
    height: 18%;
     width: 18%;
  }
  
  .hireme p {
    font-size: 55px;
  }
  
  .placement {
  margin-top: 1300px;
} 
  
  .test8 {
  margin: 0 0 0 28%;
  }
  

  .hireme {
    margin-top: 180px;
  }
  
  footer{
    height: 100px;
  }

  .liste li img{
    height: 30px;
  }
  
    .liste li a:after {
    border-bottom: 6px solid #ffce00;
}

.liste li a:hover:after {
  border-bottom: 6px solid #ffce00;
}
  
  .nav1 {
    font-size: 26px;
  }
  .nav2 {
    font-size: 26px;
  }
  
  .nav1:after {
    border-bottom: 6px solid #ffce00;
}

.nav1:hover:after {
  border-bottom: 6px solid #ffce00;
}

.nav2:after {
    border-bottom: 6px solid #ffce00;
}

.nav2:hover:after {
  border-bottom: 6px solid #ffce00;
}
  
  .copyright{
    font-size: 15px;
  }
  }


@media only screen and (max-width: 1679px) {
  
  
  .intro {
    font-size: 17px;
    top: 36%;
  }
  
    .fleche img{
    height: 5%;
     width: 5%;
  }
  
      .logo img{
    height: 18%;
     width: 18%;
  }
  
  .hireme p {
    font-size: 55px;
  }
  
  .placement {
  margin-top: 1300px;
} 
  
  .test8 {
  margin: 0 0 0 28%;
  }
  

  .hireme {
    margin-top: 180px;
  }
  
  footer{
    height: 100px;
  }

  .liste li img{
    height: 30px;
  }
  
    .liste li a:after {
    border-bottom: 6px solid #ffce00;
}

.liste li a:hover:after {
  border-bottom: 6px solid #ffce00;
}
  
  .nav1 {
    font-size: 24px;
  }
  .nav2 {
    font-size: 24px;
  }
  
  .nav1:after {
    border-bottom: 6px solid #ffce00;
}

.nav1:hover:after {
  border-bottom: 6px solid #ffce00;
}

.nav2:after {
    border-bottom: 6px solid #ffce00;
}

.nav2:hover:after {
  border-bottom: 6px solid #ffce00;
}
  
  .copyright{
    font-size: 15px;
  }
  }

@media only screen and (max-width: 1379px) {
  
  
  .intro {
    font-size: 14px;
    top: 41%;
  }
  
    .fleche img{
    height: 5%;
     width: 5%;
  }
  
      .logo img{
    height: 18%;
     width: 18%;
  }
  
  .hireme p {
    font-size: 45px;
  }
  
  .placement {
  margin-top: 1000px;
}
  
    .test1 {
  margin: 0 0 300px 28%;
  }
  
    .test2 {
  margin: 0 0 300px 28%;
  }
  
    .test3 {
  margin: 0 0 300px 28%;
  }
  
    .test4 {
  margin: 0 0 300px 28%;
  }
  
    .test5 {
  margin: 0 0 300px 28%;
  }
  
    .test6 {
  margin: 0 0 300px 28%;
  }
  
    .test7 {
  margin: 0 0 300px 28%;
  }
  
  .test8 {
  margin: 0 0 0 28%;
  }
  

  .hireme {
    margin-top: 180px;
  }


  
  footer{
    height: 100px;
  }

  .liste li img{
    height: 20px;
  }
  
    .liste li a:after {
    border-bottom: 4px solid #ffce00;
}

.liste li a:hover:after {
  border-bottom: 4px solid #ffce00;
}
  
  .nav1 {
    font-size: 22px;
  }
  .nav2 {
    font-size: 22px;
  }
  
  .nav1:after {
    border-bottom: 4px solid #ffce00;
}

.nav1:hover:after {
  border-bottom: 4px solid #ffce00;
}

.nav2:after {
    border-bottom: 4px solid #ffce00;
}

.nav2:hover:after {
  border-bottom: 4px solid #ffce00;
}
  
  .copyright{
    font-size: 10px;
  }
  }


@media only screen and (max-width: 1023px) {
  
  .intro{
    font-size: 12px;
     top: 43%;
  }
  
    .placement {
  margin-top: 1200px;
}
  
   .copyright{
    font-size: 10px;
  }
}

@media only screen and (max-width: 801px) {
  
  
  .logo{
    padding: 4% 0 0 0;
  }
  
  .logo img{
    height: 16%;
     width: 16%;
  }
  
  .intro{
    font-size: 12px;
  top: 40%;
  width: 50%;
  margin: 0 25% 0 25%;
  }
  
    .nav1:after {
    display: none;
}

.nav1:hover:after {
  display: none;
}

.nav2:after {
    display: none;
}

.nav2:hover:after {
  display: none;
}

  
    .placement {
      
  margin-top: 1100px;
}
  
   .copyright{
    font-size: 12px;
  }
}

@media only screen and (max-width: 414px) {
  
  
  .logo{
    padding: 4% 0 0 0;
  }
  
  .logo img{
    height: 16%;
     width: 16%;
  }
  
  .intro{
    font-size: 8px;
    line-height: 2.2;
  top: 34%;
  width: 50%;
  margin: 0 25% 0 25%;
  }
  
    .placement {
      
  margin-top: 1300px;
}
  
     .test1 {
  margin: 0 0 150px 28%;
  }
  
    .test2 {
  margin: 0 0 150px 28%;
  }
  
    .test3 {
  margin: 0 0 150px 28%;
  }
  
    .test4 {
  margin: 0 0 150px 28%;
  }
  
    .test5 {
  margin: 0 0 150px 28%;
  }
  
    .test6 {
  margin: 0 0 150px 28%;
  }
  
    .test7 {
  margin: 0 0 150px 28%;
  }
  
  .test8 {
  margin: 0 0 0 28%;
  }
  
    .nav1 {
    font-size: 18px;
  }
  .nav2 {
    font-size: 18px;
  }
  
    .nav1:after {
    display: none;
}

.nav1:hover:after {
  display: none;
}

.nav2:after {
    display: none;
}

.nav2:hover:after {
  display: none;
}
  
  .testshow {
    display: none;
  }
  
   .hireme p {
    font-size: 33px;
  }
  
  .liste li {
  display: inline-block;
  padding: 0 10% 0 0;
}
  
   .copyright{
    font-size: 12px;
  }
}
 
@media only screen and (max-width: 375px) {
  
    .intro{
    font-size: 8px;
    line-height: 2.2;
  top: 31%;
  width: 46%;
  margin: 0 27% 0 27%;
  }
  
      .placement {
        
  margin-top: 900px;
}

    .nav1:after {
    display: none;
}

.nav1:hover:after {
  display: none;
}

.nav2:after {
    display: none;
}

.nav2:hover:after {
  display: none;
}
  
}

@media only screen and (max-width: 360px) {
  
    .intro{
    font-size: 8px;
    line-height: 2.2;
  top: 25%;
  width: 44%;
  margin: 0 28% 0 28%;
  }

      .nav1:after {
    display: none;
}

.nav1:hover:after {
  display: none;
}

.nav2:after {
    display: none;
}

.nav2:hover:after {
  display: none;
}
}

@media only screen and (max-width: 320px) {
  
    .intro{
    font-size: 8px;
    line-height: 2.2;
  top: 20%;
  width: 42%;
  margin: 0 29% 0 29%;
  }
  
      .nav1 {
    font-size: 17px;
  }
  .nav2 {
    font-size: 17px;
  }

      .nav1:after {
    display: none;
}

.nav1:hover:after {
  display: none;
}

.nav2:after {
    display: none;
}

.nav2:hover:after {
  display: none;
}
  
      .placement {

  margin-top: 700px;
}
  
}